<mat-sidenav-container class="app-sidenav-container"
                      [class.dark-theme]="isDarkTheme"
                      [dir]="dir">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
              [opened]="!isSmallScreen"
              [mode]="isSmallScreen ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()" (toggleTheme)="toggleTheme()" (toggleDir)="toggleDir()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
